*{	
	margin: 0px;
	padding: 0px;

}

body {
		background-image: url(../img/bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		font-family: 'Kulim Park', sans-serif;
}
.container {
			width: 650px;
			margin: 10% auto ;

}
.Home {
	font-size: -webkit-xxx-large;
    color: whitesmoke;
    font-style: normal;
}


.Forgot-setion {

				
    background-color: #1a1a1b66;


				padding: 56px; 
}
.Forgot-setion img {
    height: 512px;
    width: 522px;
}

}

.Forgot-setion h2{ text-align: center;
				color: #fff;
				font-size: 36px;
				margin: 10px 0px;
				text-transform: uppercase;


}

.From-Control { width: 95%;

				height: 35px;

				padding: 5px;

				margin: 4px;

}

.Submite-btn {

		display: block;
	    color: #00ffc4;
	    font-size: x-large;
	    margin: 0px auto;
	    padding: 14px 44px;
	    border: #4024dc;
	    text-transform: uppercase;
	    cursor: pointer;
	    transition: .4s ease-in-out;
}

.Submite-btn:hover {
			box-shadow: 14px 16px 10px #1CA081;
			
}
.signup {

}